/* Enter your custom styles here */
.img {
    width: 17% !important;
    margin-left: 65% !important;
    padding: 10px !important;
}
.toolbar {
    padding: 30px;
}
/* .sapMITBHead {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15%;
} */
.sapUiFormTitle {
    width: 100%;
    text-align: center;
}
.sapMITH .sapMITBHead .sapMITBFilter:first-child {
    margin-right: 30px;
}

.sapMITBFilter .sapMITBText .sapMITHTextContent {
    overflow: visible !important;
}
.eduction {
    width: 100%;
    text-align: center;
}
.btnsave {
    margin-left: 60%;
    gap:10px;
}